body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  height: 100vh;
  overflow-y: auto;
}


h2 {
  margin-top: 20px;
  margin-left: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;  /* Это правильно — колонкой */
  gap: 30px;
  padding: 30px;
  overflow-y: auto;  /* Вертикальный скролл, а не по оси X */
  overflow-x: hidden;  /* Отключаем горизонтальный скролл */
}



#cart-summary {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #4CAF50; /* зелёный фон */
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#cart-menu {
  padding: 20px;
  background-color: #e7ffe7;
  border-radius: 10px;
}

.product {
  flex-direction: column;
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 40px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
  flex-shrink: 0;
}
#courier {
  color: #000000;
  background-color: #d7ffd7;
  border: 1px solid #abffab;
  padding: 10px 20px; /* отступы */
  border-radius: 5px; /* скругление углов */
  cursor: pointer;
}

#pickup {
  color: #000000;
  background-color: #d7ffd7;
  border: 1px solid #abffab;
  padding: 10px 20px; /* отступы */
  border-radius: 5px; /* скругление углов */
  cursor: pointer;
}
.product img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 350px;
}

.product h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.product p {
  margin: 0 0 10px 0;
  font-size: 13px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

button {
  padding-top: 10px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
