body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

h2 {
  margin-top: 20px;
  margin-left: 20px;
}

.product-list {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  overflow-x: auto;
}

.product {
  flex-direction: column;
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 40px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
  flex-shrink: 0;
}

.product img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 350px;
}

.product h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.product p {
  margin: 0 0 10px 0;
  font-size: 13px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

button {
  padding-top: 10px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
